<html>

<head>
<title>README</title>
</head>

<body>

<p>Created May 2014, M. Beck, beck.marcus@epa.gov</p>

<p>The contents of this folder include all the necessary materials for creating a standalone workflow using Pandoc to integrate R with MS products, just open 'pan_flow.Rproj' and run the 'master.r'.

<p>Note that the reports will not compile if you do not have the required software (see 'pan_flow.pdf')</p>

<p>The input data, 'my_data.xlsx', are included although the workflow imports the spreadsheet from an online source.</p>

<p>Additional files include those used to create a pdf presentation ('pan_flow.pdf') describing use of these materials.</p>

</body>
</html>
